@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0%;
  }
  50% {
    bottom: -5%;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0%;
  }
  50% {
    bottom: -3%;
  }
}

.trump-mouth {
  bottom: 0%;
  left: 41%;
}

.trump-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.bruce-mouth {
  bottom: 0%;
  left: 34.4%;
}

.bruce-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.donnie-mouth {
  bottom: 0%;
  left: 45.4%;
}

.donnie-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

