@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
  background-image: url(/siren.webp);
  background-repeat: repeat-x;
  background-position: -5% bottom;
  background-size: 15%;

}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 1%;
  }
}

@keyframes ChewyMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 17%;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 0%;
  }
}

.trump-mouth {
  bottom: 3%;
 
}

.trump-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.bruce-mouth {
  bottom: 3%;

}

.bruce-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.donnie-mouth {
  bottom: 3%;
}

.donnie-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.gay2-mouth {
  bottom: 3%;
}

.gay2-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

.gay-mouth {
  bottom: 3%;
}

.gay-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.wonka-mouth {
  bottom: 3%;
}

.wonka-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

.badonde-mouth {
  bottom: 3%;
}

.badonde-mouth.move {
  animation: DondeMoveUpDown .4s linear infinite;
}

@keyframes DondeMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 0%;
  }
}

.meerkat-mouth {
  bottom: 3%;
}

.meerkat-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

.mattDevious-mouth {
  bottom: 3%;
}

.mattDevious-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

.ainsley-mouth {
  bottom: 3%;
}

.ainsley-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

.soprano-mouth {
  bottom: 3%;
}

.soprano-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}


.romeo-mouth {
  bottom: 3%;
}

.romeo-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

/* CRUSTY */
@keyframes CrustyMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 2%;
  }
}
.crusty-mouth {
  bottom: 3%;
}

.crusty-mouth.move {
  animation: CrustyMoveUpDown .3s linear infinite;
}

/* TUCKER */
@keyframes TuckerMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  40% {
    bottom: -2%;
  }
  70% {
    bottom: -2%;
  }
}
.tucker-mouth {
  bottom: 3%;
}

.tucker-mouth.move {
  animation: TuckerMoveUpDown 1.5s linear 1;
}

/* IGOR */
@keyframes IgorMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: .5%;
  }
}

.igor-mouth {
  bottom: 3%;
}

.igor-mouth.move {
  animation: IgorMoveUpDown .3s linear infinite;
}

/* CHEWY */
@keyframes ChewyMoveUpDown {
  0%, 100% {
    bottom: 3%;
  }
  50% {
    bottom: 0%;
  }
}

.chewbacca-mouth {
  bottom: 5%;
}

.chewbacca-mouth.move {
  animation: ChewyMoveUpDown .9s linear 2;
}

/* STING */
@keyframes StingMoveUpDown {
  0%, 100% {
    opacity: .1; 
  }
  50% {
    opacity: 1;
  }
}
.sting-mouth {
  opacity: 0.1;
  bottom: 3%;
}

.sting-mouth.move {
  animation: StingMoveUpDown .5s linear infinite;
}
.gene-wilder-mouth {
  bottom: 3%;
}

.gene-wilder-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}
.borat-mouth {
  bottom: 3%;
}

.borat-mouth.move {
  animation: MoveUpDown .3s linear infinite;
}

 .light-flash {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 33.5%;
  top: 25%;


}

.animate-spin {
  animation: spin 1s ease-out infinite;
} 

/* .animate-three {
  animation: spin 1s ease-out infinite;
}  */


@keyframes spin {
  from {
    transform: rotate(0deg);
  }  
  to {
    transform: rotate(360deg);
  }  
}  
